<div>
  <link href="./services-card.css" rel="stylesheet" />
  <div class="services-card">
    <div class="services-card-container">
      <img
        alt="image"
        src="public/playground_assets/website-200h.png"
        class="services-card-image"
      />
    </div>
    <span class="services-card-text cardheading">
      <span>Fulfillment and logistics</span>
    </span>
    <span class="services-card-text1 content">
      <span>
        Create your ubest unique App development, crafted for your business
        needs.
      </span>
    </span>
  </div>
</div>
